<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Support AI Assistant</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="background"></div>

    <div class="container">
      <!-- SIDEBAR -->
      <aside class="sidebar">
        <div class="logo">🤖 Multi-Agent Support</div>

        <div class="profile-card">
          <h3>Customer</h3>
          <input id="customerName" placeholder="Enter your name" />
        </div>

        <div class="stats">
          <div class="card">
            <h2>AI System</h2>
            <p>Classifier → Agents → Reviewer</p>
          </div>

          <div class="card">
            <h2>Agents</h2>
            <p>🧑‍💻Tech / 💰Billing / 📈Sales</p>
          </div>

          <div class="card">
            <h2>24/7</h2>
            <p>Support</p>
          </div>
        </div>
      </aside>

      <!-- CHAT -->
      <main class="chat-section">
        <header>
          <h2>Customer Support AI Assistant</h2>

          <div class="online">
            <span></span>
            Online
          </div>
        </header>

        <div id="messages">
          <div class="welcome">
            <h2>👋 Welcome</h2>
            <br />
            <p>
              Your request will be routed to our specialized tech, billing, or
              sales agents instantly.
            </p>
          </div>
          <br />
        </div>

        <div class="chat-input">
          <input id="message" placeholder="How can we help you today?" />

          <button onclick="sendMessage()">➜</button>
        </div>
      </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div id="toast"></div>
  </body>
</html>
