Werkzeug==3.0.3
gunicorn==22.0.0
requests
Flask
groq
python-dotenv
gunicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
pypdf
sentence-transformers